{
	"rules": {
		"strict": 0,
		"prettier/prettier": "warn"
	},
	"env": {
		"node": true,
		"es6": true,
		"es2017": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:import/recommended",
		"prettier",
		"plugin:jest/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"prettier",
		"jest"
	]
}
